@font-face {
  font-family: "OCR Std";
  src: url("../fonts/OCR/OCR\ A\ Std\ Regular.ttf");
}

:root {
  --main_body_background_color: #020a13;
  --icon_fill_color: #ffffff;
  --main_text_color: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap");

//mixins
@mixin even_bottom_margin {
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:active,
a:hover,
button,
input,
select,
textarea {
  outline: 0;
}

#dark {
  visibility: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(50%, -50%);
  width: 10rem;
  height: 10rem;
  z-index: 2;
  animation: pulse 2s infinite;
}

@mixin hide_scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
//animations
/* right bounce */

@-webkit-keyframes slideIn {
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}

body {
  background-color: var(--main_body_background_color);
  font-family: "DM Sans", Courier, monospace;
  color: var(--main_text_color);
  // transition: background-color 0.5s ease;
  scroll-behavior: smooth;
  transition: background-color 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__icon {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    display: flex;
    position: relative;
  }
  &__item {
    cursor: pointer;
    position: absolute;
    min-width: 8rem;
    text-align: center;
    right: 0.5rem;
    top: -0.5rem;
  }
}

.banner {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  clip-path: circle(20%);
  margin-bottom: 50rem;

  &__text {
    display: flex;
    flex-direction: column;
    flex: 1;

    & > div {
      @include even_bottom_margin();
    }
  }

  &__title {
    color: #ff4242;
  }
  &__subtitle {
    font-size: 2.5rem;
  }
  &__description {
    font-size: 1rem;

    a {
      color: red;
      position: relative;
      cursor: pointer;
      text-decoration: none;
    }

    a:before {
      transform-origin: right;
      transform: scaleX(0);
      content: "";
      background-color: var(--main_text_color);
      position: absolute;
      height: 0.1rem;
      bottom: 0;
      left: 0;
      right: 0;

      transition: transform 0.6s cubic-bezier(0.32, 0.94, 0.6, 1);
    }

    a:hover:before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
  &__socials {
    min-width: 100%;
    a {
      margin-right: 1rem;
      svg {
        fill: var(--icon_fill_color);
        height: 15px;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }

  &__image {
    position: relative;
    flex: 1.5;
  }
}

.work {
  margin-top: 4rem;
  width: 80%;
  display: flex;
  flex-direction: column;

  @include hide_scrollbar();

  &__controls {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #ff4242;
  }

  &__scroll {
    display: flex;
    justify-content: center;

    svg {
      margin-left: 2rem;
      -webkit-animation: bounceRight 2s infinite;
      animation: bounceRight 2s infinite;
      fill: var(--icon_fill_color);
    }
  }

  &__projects {
    width: 100%;
    max-width: 100%;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
    margin-top: 2rem;
  }
  &__card {
    height: 20rem;
    min-width: 20rem;
    overscroll-behavior: none;
    border-radius: 50%;
    background: url(../images/bp.png);
    background-size: cover;
    margin-right: 1.5rem;
    background-repeat: no-repeat;
    border: 1px solid rgba(33, 34, 39, 0.03);
    box-shadow: 0 2px 4px rgba(33, 34, 39, 0.05);
    -webkit-animation: slideIn 0.75s cubic-bezier(0.2, 0.5, 0.1, 1) 0.35s
      forwards;
    animation: slideIn 0.75s cubic-bezier(0.2, 0.5, 0.1, 1) 0.35s forwards;
  }

  &__animate {
    height: 50vh;
    background-color: red;
    position: relative;
    overflow: hidden;
  }

  &__skills {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;

    &:first-child {
      left: -10%;
    }
  }
}

//cursor

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #ff4242;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

//pulse

@keyframes pulse {
  0% {
    transform: scale(0.95);
    border-radius: 50%;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
